img{
    border-radius: 50%;
    width: 20%;
}
body{
    background-color: black;
}
.playerGUI{
    background-color:aqua ;
    width: 25%;
    height: 700px;
    display: flex;
    align-items: center;
    font-size: 25px;
    flex-direction: column;
    -webkit-border-top-left-radius: 100px;
    -webkit-border-bottom-right-radius: 100px;
    -moz-border-radius-topleft: 100px;
    -moz-border-radius-bottomright: 100px;
    border-top-left-radius: 100px;
    border-bottom-right-radius: 100px;
}
.sideBlock{
    width: 65%;
    height: 150px;
    font-size: 20px;
    display: flex;   
}
.RankInfo{
    width: 55%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.RankImg{
    width: 100%;
}
.rankBox{
    width: 45%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
}